.NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
    height: 60px;

}

.navbar-menu{
    justify-content: space-evenly;
    background-color: rgb(94, 150, 94);
    border-radius: 4px;
    color:white;

}
a{text-decoration: none;
    padding: 15px;
}